:root {
    --orange: hsl(26, 100%, 55%);
    --light-orange: #ff9a3d;
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--white);
}

.separator {
    width: 80%;
    border-top: 1px solid var(--light-grayish-blue);
}

.image:hover {
    cursor: pointer;
    opacity: 70%;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  max-width: 1440px;
  padding: 20px 0;
}

.nav-centre {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 50px;
  color: var(--dark-grayish-blue);
  flex: 5;
}

.nav-right {
  display: flex;
  gap: 40px;
  align-items: center;
  flex: 0.5;
}

.nav-left {
  flex: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar ul li {
  padding: 10px;
  border-bottom: 3px solid transparent;
}

.navbar ul li:hover {
  color: var(--very-dark-blue);
  cursor: pointer;
  border-bottom: 3px solid var(--orange);
}

#logo-img {
  opacity: 100%;
}

#cart-img-nav {
  height: 20px;
  width: auto;
}

#avatar-img {
  border: 2px solid transparent;
  height: 50px;
  width: auto;
  opacity: 100%;
}

#avatar-img:hover {
  border: 2px solid var(--orange);
  border-radius: 100%;
}

/* Rules for mobile devices */

@media (max-width: 480px) {
  .navbar {
    width: 95%;
    flex-direction: column;
    gap: 20px;
  }

  .nav-left {
    gap: 20px;
  }
}

/* Product Page */

#product-page-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 0 0 20%;
  max-width: 1440px;
  padding-top: 3%;
  gap: 10%;
}

/* Product Images */

#product-img-container {
  display: flex;
  flex: 1;
  align-items: center;
}

#product-img-main {
  width: 100%;
  height: auto;
  max-width: 600px;
  min-width: 300px;
}

.product-img {
  border-radius: 10px;
}

.product-thumbnail {
    width: 20%;
    height: auto;
    border: 2px solid transparent;
}

.product-thumbnail-clicked {
    border: 2px solid var(--orange);
    opacity: 60%;
}

#thumbnail-row {
  display: flex;
  justify-content: space-evenly;
  gap: 5.5%;
  margin: 10px 0 0 0;
  max-width: 600px;
}

/* Product Info */

#product-info-container {
    color: var(--very-dark-blue);
}

#company-name {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--dark-grayish-blue);
    letter-spacing: 1.5px;
    margin-top: 5%;
}

#product-info {
    color: var(--dark-grayish-blue);
    font-size: 16px;
    line-height: 25px;
    max-width: 60%;
}

#product-name {
    font-size: 45px;
    max-width: 60%;
    margin: 0;
}

#price-discount-container {
    display: flex;
    align-items: center;
    gap: 3%;
}

#discount {
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    font-weight: 700;
}

#product-price-original {
    color: var(--dark-grayish-blue);
    font-size: 16px;
    text-decoration: line-through;
    margin: 0;
}

/* User Input Button Styling */

#quantity-cart-container {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-top: 3%;
    flex-shrink: 0;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 120px;
    background-color: var(--light-grayish-blue);
    border-radius: 10px;
    font-weight: 700;
}

.cart-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 15px 20px 15px 20px;
    color: var(--very-dark-blue);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.cart-btn:hover {
    background-color: var(--light-orange);
    cursor: pointer;
}

#cart-img-btn {
    color: var(--very-dark-blue);
}

/* Lightbox */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox.hidden {
  display: none;
}

#lightbox-img {
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: 150px;
  border-radius: 10px;
  margin: 5%;
}

.lightbox-product-thumbnail {
  width: clamp(60px, 10%, 100px);  /* Grows/shrinks with screen */
  height: auto;
  max-width: 500px;
  min-width: 100px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.lightbox-product-thumbnail-clicked {
    border: 2px solid var(--orange);
    opacity: 60%;
}

#lightbox-thumbnail-row {
  display: flex;
  justify-content: center;
  gap: 5.5%;
  width: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#thumbnail-row {
  display: flex;
  justify-content: center;
}

.lightbox-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-lightbox {
  position: absolute;
  top: 1px;
  right: 1px;
}

.direction-btn {
  background-color: var(--light-grayish-blue);
  border-radius: 100%;
  border: none;
  padding: 12px 14px 12px 14px;
  margin: auto;
  position: absolute;
}

.direction-icon {
  max-width: 8px;
}

#prev-btn:hover,
#next-btn:hover {
  cursor: pointer;
  opacity: 90%;
}

#prev-btn {
  position: absolute;
  top: 260px;
  right: 480px;
}

#next-btn {
  position: absolute;
  top: 256px;
  right: -15px;
}

