:root {
    --orange: hsl(26, 100%, 55%);
    --light-orange: #ff9a3d;
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

body {
    padding: 0;
    margin-bottom: 50px;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--white);
}

.separator {
    width: 80%;
    border-top: 1px solid var(--light-grayish-blue);
}

.separator-full-length {
    width: 100%;
    border-top: 1px solid var(--light-grayish-blue);
}

.image:hover {
    cursor: pointer;
    opacity: 70%;
}

.hidden {
  display: none !important;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 2;
  cursor: pointer;
}

/* Top Navbar */

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  max-width: 1440px;
  padding: 20px 0;
}

.nav-centre {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 50px;
  color: var(--dark-grayish-blue);
  flex: 5;
}

.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;
  flex: 0.5;
  position: relative;
}

.nav-left {
  flex: 1;
}

.navbar-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar-top ul li,
.navbar-side ul li {
  padding: 10px;
  border-bottom: 3px solid transparent;
}

.navbar-top ul li:hover,
.navbar-side ul li:hover {
  color: var(--very-dark-blue);
  cursor: pointer;
  border-bottom: 3px solid var(--orange);
}

#logo-img {
  opacity: 100%;
}

#cart-img-nav {
  height: 20px;
  width: auto;
  background-color: transparent;
  border: none;
}

#avatar-img {
  border: 2px solid transparent;
  height: 50px;
  width: auto;
  opacity: 100%;
}

#avatar-img:hover {
  border: 2px solid var(--orange);
  border-radius: 100%;
}


/* Product Page */

#product-page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  padding-top: 3%;
  gap: 10%;
  flex-wrap: wrap;
}


/* Product Images */

#product-img-main {
  width: 100%;
  max-width: 500px;
  height: auto;
  flex: 1 1 400px;
}

.product-img {
  border-radius: 10px;
}

.product-thumbnail {
    width: 20%;
    height: auto;
    border: 2px solid transparent;
}

.product-thumbnail-clicked {
    border: 2px solid var(--orange);
    opacity: 60%;
}

#thumbnail-row {
  display: flex;
  justify-content: center;
  gap: 5.5%;
  margin: 10px 0 0 0;
  max-width: 500px;  
}


/* Product Info */

#product-info-container {
    color: var(--very-dark-blue);
    flex: 1 1 400px;
    min-width: 300px;
}

#company-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    letter-spacing: 1.5px;
    margin-top: 5%;
}

#product-info {
    color: var(--dark-grayish-blue);
    font-size: 16px;
    line-height: 25px;
    max-width: 60%;
}

#product-name {
    font-size: 45px;
    max-width: 60%;
    margin: 0;
}

#price-discount-container {
    display: flex;
    align-items: center;
    gap: 3%;
    justify-content: flex-start;
}

@media (max-width: 900px) {
  #price-discount-container {
    justify-content: center;
  }
}

#discount {
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    font-weight: 700;
}

#product-price-original {
    color: var(--dark-grayish-blue);
    font-size: 16px;
    font-weight: 700;
    text-decoration: line-through;
    margin: 0;
}

#product-price-discounted {
  font-size: 20px;
  font-weight: 700;
}


/* Quantity Selector & 'Add to cart' Button */

#quantity-cart-container {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-top: 3%;
    flex-shrink: 0;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 120px;
    background-color: var(--light-grayish-blue);
    border-radius: 10px;
    font-weight: 700;
    user-select: none;
}

.cart-btn {
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 15px 20px 15px 20px;
    color: var(--very-dark-blue);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.cart-btn:hover {
    background-color: var(--light-orange);
    cursor: pointer;
}

#cart-img-btn {
    color: var(--very-dark-blue);
}

#plus-btn,
#minus-btn {
  border: none;
  background-color: transparent;
}

#plus-btn {
  margin-top: 5px;
}

#quantity-alert {
  font-size: 14px;
}


/* Lightbox */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.lightbox.hidden {
  display: none;
}

#lightbox-img {
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: 150px;
  border-radius: 10px;
  margin: 5%;
}

.lightbox-product-thumbnail {
  width: clamp(60px, 10%, 100px);
  height: auto;
  max-width: 500px;
  min-width: 100px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.lightbox-product-thumbnail-clicked {
    border: 2px solid var(--orange);
    opacity: 60%;
}

#lightbox-thumbnail-row {
  display: flex;
  justify-content: center;
  gap: 5.5%;
  width: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.lightbox-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-lightbox {
  position: absolute;
  top: 1px;
  right: -3px;
  user-select: none;
  border: none;
  background-color: transparent;
}

.direction-btn {
  background-color: var(--light-grayish-blue);
  border-radius: 100%;
  border: none;
  padding: 12px 14px 12px 14px;
  margin: auto;
  position: absolute;
}

.direction-icon {
  max-width: 8px;
}

#prev-btn:hover,
#next-btn:hover {
  cursor: pointer;
  opacity: 90%;
}

#prev-btn, #next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  user-select: none;
}

#prev-btn {
  left: -15px;
}

#next-btn {
  right: -15px;
}


/* Cart Info */

.cart-info.hidden {
  display: none;
}

#cart-info-content {
  box-shadow: -10px 10px 10px 3px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: auto;
  margin: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  min-height: 150px;
  justify-content: center;
}

.cart-info {
  position: absolute;
  top: 35px;
  right: 0;
  width: 300px;
  z-index: 2;
}

#cart-title {
  align-self: self-start;
  font-size: 16px;
}

#empty-cart-text {
  font-size: 14px;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.cart-content.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  color: var(--dark-grayish-blue);
  font-size: 14px;
}

.cart-content.full {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

#product-img-cart {
  width: 20%;
  height: auto;
  border-radius: 5px;
  opacity: 100%;
  cursor: default;
}

#cart-product-name {
  font-size: 14px;
  color: var(--dark-grayish-blue);
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;
}

#cart-price {
  margin: 0;
  color: var(--dark-grayish-blue);
  font-size: 14px;
}

#cart-total-price {
  margin: 0 0 0 10px;
  color: var(--very-dark-blue);
  font-weight: 700;
  font-size: 14px;
}

#delete-btn {
  width: 12px;
  height: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#checkout-btn {
  width: 100%;
  margin-top: 20px;
}

#cart-quantity-icon {
  position: relative;
  right: 25px;
  bottom: 9px;
  background-color: var(--orange);
  padding: 1px 6px 1px 6px;
  border-radius: 10px;
  color: var(--white);
  font-size: 10px;
  user-select: none;
}

/* Hide navbar-top on smaller screens */
#menu-btn {
  border: none;
  background-color: transparent;
  display: none;
}

.navbar-side {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;    
  left: 0;       
  width: 250px;  
  height: 100%;
  z-index: 3;
  background-color: var(--white);

  /* Start hidden (off-screen) */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

/* When active (menu open), slide in */
.navbar-side.active {
  transform: translateX(0);
}

.navbar-side ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  font-weight: 700;
  height: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

#close-menu {
  position: absolute;
  top: 10px;
  left: 215px;
  user-select: none;
  border: none;
  background-color: transparent;
}

@media (max-width: 900px) {
  .nav-centre {
    display: none;
    flex-direction: column;
    background: var(--white);
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid var(--light-grayish-blue);
  }

  #menu-btn {
    display: inline;
  }

  .nav-centre.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/* Responsive adjustments for smaller screens */

@media (max-width: 900px) {
  #product-page-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  #quantity-cart-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #product-info {
    max-width: 100%;
  }

  #product-name {
    max-width: 100%;
    font-size: 36px;
  }

  #thumbnail-row {
    max-width: 500px;
    gap: 3%;
  }

  .product-thumbnail {
    width: 22%;
  }
}

@media (max-width: 500px) {
  #quantity-cart-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .cart-btn {
    width: 100%;
  }

  .quantity-selector {
    width: 100%;
    justify-content: center;
    padding: 10px;
  }

  #plus-btn,
  #minus-btn {
    margin-left: 40%;
    margin-right: 40%;
  }

  #product-name {
    font-size: 28px;
  }

  .nav-centre {
    padding: 0 20px;
    gap: 20px;
  }

  .navbar-top {
    width: 95%;
    padding: 10px 0;
  }

  .cart-info {
    right: 50%;
  }

  #lightbox-img {
    max-width: 400px;
  }

  #lightbox-thumbnail-row {
    width: 10px
  }
}